/* GENERAL STYLE */
body {
    text-align: center;
    font-family: "Lato", sans-serif;
    max-width: 1200px;
    margin: auto;
    align-content: center;  
}


/* HEADER STYLE */
header {
    background-color: lavender;
}

.header-text {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 60px;
    margin: 0.25em 0 0.1em;
    padding: 0.3em 0;
}


/* MAIN SECTION STYLE */
.main-section {
    background-color: #e6e6e6;
}

.gridSize-text {
    margin-top: 0;
    padding-top: 1.5em;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin: 1.25em 0 0.75em;
}

input[type=number] {
    width: 4em;
}

.colorPick-text {
    margin-bottom: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

.clearButton {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
}

/* Special effects styles */
td:hover {
    border: 1.5px solid black;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.75);
}

.button:hover {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.75);
}


/* FOOTER STYLE */
footer {
    background-color: #c1d3f0;
    padding: 20px 0;
    margin: 5px 0 20px;
    text-align: center;
}

.icon-footer {
    font-size: 1.5em;
    color: #2d3c49;
    text-shadow: 1.5px 1.5px 1.5px rgba(150, 150, 150, 1);
    margin: 0 20px;
}
